{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venta de Frutas Congeladas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="favicon.ico" type="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/f6d6f5a997.js"
      crossorigin="anonymous"
    ></script>
    <etiqueta id="id" class="class"> </etiqueta>
  </head>
  <body>
    <header>
      <div class="header">
        <div id="header">
          <h1>VENTA DE PRODUCTOS</h1>
          <div class="btn-header">
              <a class="btn-h" id="btn-carrito">
                <i class="fa-solid fa-cart-shopping" style="color: black"></i>
                <div class="cuadro-informacion">carrito</div>
              </a>
              <a href="/solicitudes/" class="btn-h" id="btn-admin">
                <i class="fa-solid fa-circle-user"></i>
                <div class="cuadro-informacion">iniciar sesion</div>
              </a>
          </div>
        </div>
        <section id="carro" class="">
          <div class="c-container">
            <div class="c-header" style="text-transform: uppercase;">
              carrito
            </div>
            <div class="c-body">
              <ul class="c-list">
                {% for item in carrito.itemcarrito_set.all %}
                <li>
                  <div class="c-nombre">
                    <h3>{{ item.producto.nombre }}</h3>
                    <h5>${{ item.producto.precio|mul:item.cantidad }}</h5>
                  </div>
                  <div class="c-precio">
                    <a href="/res/{{ item.producto.id }}" class="c-calc" id="menos"> - </a>
                    <h3>{{ item.cantidad }}</h3>
                    <a href="/add/{{ item.producto.id }}" class="c-calc" id="mas"  > + </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="c-footer">
              <a href="/addSoli/" id="c-finish" style="display: block; width: 100%; padding: 10px; background-color: #4CAF50; color: #fff; text-align: center; text-decoration: none; border: none; cursor: pointer; text-transform: uppercase;">Realizar Pedido</a>
            </div>
            
          </div>
        </section>

      <div
        class="intro-container"
        style="background-image: url({% static 'img/background.jpg' %});"
      >
        <h3>DESLIZA HACIA ABAJO PARA COMENZAR</h3>
      </div>
    </header>
    <main>
      <div id="productos">
        <ul id="product-list" class="product-list">
          {% for producto in productos %}
          <li data-stock="{{ producto.stock }}">
            <a href="/add/{{ producto.id }}">
              <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
              <h3>{{ producto.nombre }}</h3>
              <p>{{ producto.descripcion }}</p>
              <hr />
              <p>${{ producto.precio }}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
