{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solicitudes</title>
    <link rel="stylesheet" href="{% static 'css/stylesSolicitudes.css' %}" />
    <link rel="icon" href="favicon.ico" type="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/f6d6f5a997.js"
      crossorigin="anonymous"
    ></script>
    <etiqueta id="id" class="class"></etiqueta>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Solicitudes Pendientes</h1>
        <a href="{% url 'inicio' %}" class="button">Volver a Inicio</a>
      </header>
      <table>
        <thead>
          <tr>
            <th>Solicitud ID</th>
            <th>Producto/s</th>
            <th>Precio</th>
            <th>Botones</th>
          </tr>
        </thead>
        <tbody>
          {% for solicitud in solicitudes %}
          <tr>
              <td>{{ solicitud.id }}</td>
              <td>
                  {% for item in solicitud.itemsolicitud_set.all %}
                      {{ item.producto.nombre }} ({{ item.cantidad }}),
                  {% endfor %}
              </td>
              <td>{{ solicitud.calcular_precio_total|floatformat:2 }}</td>
              <td id="botones">
                <form method="post" action="{% url 'confirmar_solicitud' solicitud.id %}">
                    {% csrf_token %}
                    <button type="submit" id="btn1">Confirmar</button>
                </form>
                <form method="post" action="{% url 'cancelar_solicitud' solicitud.id %}">
                    {% csrf_token %}
                    <button type="submit" id="btn2">Cancelar</button>
                </form>
              </td>
            
          </tr>
          {% endfor %}
        </tbody>  
    </table>
  </body>
</html>
