* {
  transition: all 0.2s;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;

  --beige: rgb(235, 154, 5);
}

etiqueta {
  opacity: 0;
}

#id {
  opacity: 0;
}

.class {
  opacity: 0;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding: 0.6rem;
  background-color: var(--beige);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  transition: opacity .3s ease;
  opacity: 1;
}

#header-fixed {
  position: fixed;
  display: none;
  border-bottom: 2px black transparent;
  opacity: 0;
}

#header-fixed.fixed-header {
  position: fixed;
  display: flex;
  animation: fixed-animation 1s;
  border-bottom: 2px black solid;
  opacity: 1;
}

@keyframes fixed-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-header {
  margin: 0 calc(1.25rem / 2);
  display: flex;
  flex-direction: row;
}

.btn-h {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 0.5rem;
  transition: all .1s;
  text-transform: uppercase;
}

.btn-h i {
  font-size: 1.5rem;
  color: black;
}

.btn-h:hover {
  transform: scale(1.15);
  border-radius: 25%;
  cursor: pointer;
}

.btn-h:hover .cuadro-informacion {
  display: block;
  height: auto;
}

.cuadro-informacion {
  display: none;
  position: absolute;
  top: 110%;
  justify-content: center;
  min-width: 120%;
  padding: 5px;
  z-index: 99;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: white;
  border: 2px black solid;
  font-weight: bold;
  font-size: .7rem;
  border-radius: 1rem;
  transition: all 1s;
}

/* .header {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  background: orange;
  position: fixed;
  z-index: 99999;
  top: 0;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h3 {
  font-size: 1rem;
  margin: 0;
  margin: 0 20px;
}

.header a {
  margin: 0 20px;
  justify-content: center;
}

.header a i {
  text-align: center;
  width:  3rem;
  height: 3rem;
  font-size: 2rem;
  margin: 0;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;

} */

.intro-container {
  background-image: url("{{ background_image }}");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.intro-container h3 {
  text-align: center;
  color: #fff;
  padding-top: 50vh;
}

/* MAIN */

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-list li {
  text-align: center;
  width: 200px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.product-list li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.product-list img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.product-list h3 {
  font-size: 18px;
  margin: 10px 0;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 0 5px;
}

.product-list p {
  font-size: 16px;
  margin: 5px 0;
  font-family: Arial, sans-serif;
  color: #666;
  padding: 0 5px;
}

.product-list .empty {
  opacity: 0.6;
  filter: grayscale(100%);
}

.product-list hr {
  border: none;
  height: 2px;
  background-color: rgba(204, 204, 204, 0.4);
  margin: 10px 0;
  border-radius: -16px;
}

.product-list li:hover hr {
  background-color: rgba(72, 72, 72, 0.4);
}

/* CARRITO */

/* Estilos para el section con id #carro */
#carro {
  position: fixed;
  top: 15%;
  right: 10px;
  background-color: white;
  color: black;
  width: 25%;
  min-height: 300px;
  padding: 5px 10px;
  border-radius: 16px;
  display: none;
  z-index: 99;
  display: none;
  margin-left: 5px;
}

/* Estilos para el contenedor principal */
.c-container {
  padding: 10px;
}

/* Estilos para el encabezado */
.c-header {
  text-transform: uppercase;
  text-align: center; /* Centra el texto */
}

/* Estilos para la lista de elementos */
.c-list li {
  display: flex;
  justify-content: space-between; /* Distribuye el contenido alrededor */
  margin-bottom: 10px;
}

/* Estilos para el nombre del producto */
.c-list li h3 {
  margin: 0;
}

.c-nombre h3 {
  text-transform: uppercase;
}

/* Estilos para el contenedor de precio con botones + y - */
.c-precio {
  display: flex;
  align-items: center;
}

/* Estilos para los botones + y - */
.c-precio a {
  margin: 0 5px;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px black solid;
  cursor: grab;
}

#menos {
  color: white;
  background-color: red;
}

#mas {
  color: white;
  background-color: green;
}

/* Estilos para el pie de página */
.c-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Estilos para el botón de realizar pedido (tanto para botones como para enlaces) */
.c-footer button,
.c-footer a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  text-decoration: none; /* Asegúrate de que los enlaces no tengan decoración subrayada */
  border: none;
  cursor: pointer;
}

/* Anular estilos predeterminados del enlace */
.c-footer a {
  text-decoration: none;
  color: inherit;
}

/* Cambia el color al pasar el ratón sobre el botón/enlace */
.c-footer button:hover,
.c-footer a:hover {
  background-color: #45a049;
}


/* Estilos para el cartel */
.c-cartel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
}

/* Estilos para el cuadro de información cuando el carrito está activo */
#carro.c-active  {
  display: block;
}